.background {
  background-image: url('/public/assets/abc.jpg');
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4 ); 
  z-index: 0;
}

.box-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    max-width: 350px;
    width: 100%;
    margin: 150px auto ;
    padding: 10px;
    box-shadow: 0 1px 15px 7px rgba(0, 0, 0, 0.9);
    
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    
    
  }
  
  .title {
    margin-top: 8px;
    font-size: 24px;
    font-weight: 600;
    color: rgb(17, 24, 39);
    text-align: center;
    
  }
  
  .heading {
    font-size: 14px;
    line-height: 0px;
    color: rgb(75, 85, 99);
    text-align: center;
    
  }
  
  .input-container {
    display: flex;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
   background-color: white;
    padding: 10px;
    width: 100%; 
    margin-top: 15px;
    
    box-sizing: border-box;
  }
  
  .input-container input {
    border: none;
    outline: none;
    
    padding-left: 8px;
    flex: 1;
    font-size: 14px;
    color: rgb(0, 0, 0);
    width: 100%; 
  }
  
  .input-container input::placeholder {
    color: rgb(0, 0, 0);
    background-color: white;
  }
  
  
  .input-container svg {
    color: gray;
  }
  
  button {
    width: 100%; 
    padding: 12px;
    margin-top: 20px;
    background-color: #1c92d6;
    color: rgb(255, 255, 255); /* Use rgb for white */
    border: none;
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; /* Font family */
    font-weight: 400; /* Font weight */
    font-size: 15px; /* Font size */
    line-height: normal; /* Line height */
    cursor: pointer;
    text-transform: uppercase;
}

  
  button:hover {
    background-color: #00a2d1;
  }
.heading-continer{
  top:0%;
  position:absolute;
 z-index: 1;
}
.footer{
  position:absolute;
        z-index: 1;
        bottom: 2%;
}
  
  
  @media (max-width: 768px) {
    .footer{
      padding: 25px;
      bottom: 1%;
    }
    .container {
      width: 95%;
      padding: 15px;
    }
  
    .title {
      font-size: 20px;
    }
  
    .heading {
      font-size: 12px;
    }
  
    button {
      font-size: 14px;
      padding: 10px;
    }
    .heading-continer{
     
      top: 5%;
    }
    h1{
      
      font-size: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .footer{
      padding: 25px;
      bottom: 1%;
    }
    .heading-continer{
      
      top: 5%;
    }
    h1{
      font-size: 20px;
    }
    .container {
      width: 100%;
      padding: 10px;
    }
  
    .title {
      font-size: 18px;
    }
  
    .heading {
      font-size: 10px;
    }
  
    button {
      font-size: 12px;
      padding: 8px;
    }
  }
  